//color
$primary-color: #2D9CDB;
$secondary-color: #02556D;
$light-color: #fff;
$dark-color: #000;
$success-color: #27AE60;
$warning-color: #F2C94C;
$selected-video-color: #F2994A;
$light-gray-color: #f5f5f5;
$gray-color: #969696;
$light-gray-background-color: #C5C5C5;
$box-shadow-color: #4f4f4f;
$txt-color: #C5C5C5;
$danger-color: #CA2E2E;